livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
mem0ai
langchain_community
requests
python-dotenv
duckduckgo-search
fuzzywuzzy
pygetwindow
pywin32; sys_platform == "win32"
python-levenshtein
